[submodule "zplugins/functional.d"]
	path = zplugins/functional.d
	url = https://github.com/Tarrasch/zsh-functional
[submodule "zplugins/fasd.d"]
	path = zplugins/fasd.d
	url = https://github.com/clvv/fasd
[submodule "zplugins/deer.d"]
	path = zplugins/deer.d
	url = https://github.com/vifon/deer
